* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EDEBED;
}


/** Menu **/
header {
    width: 100%;
    height: 2.7rem;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 .9rem;
    background-color: #af94b0;
}

header>a>img {
    max-width: 110px;
}

nav ul {
    display: flex;
    gap: 1.5rem;
    margin: 0 0 0 24rem;
}

nav ul li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: 600;
}

li a:visited,
li a:active {
    border-bottom: 8px solid rgba(175, 148, 176, 1);

}

li a:hover {
    color: #f7f4ea;

}

a>i {
    color: white;
    font: 1.5rem;
}

a>i:hover {
    color: #f7f4ea;
}

/** Conteúdo **/
main {
    margin-top: 12rem;
}

.banner {
    margin-top: -15rem;
    width: 100%;
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/img/luana/pexels-joshua-mcknight-3290242.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 35%;
}

.banner h1 {
    width: 100%;
    font-size: 5.5rem;
    font-weight: 300;
    font-style: italic;
    color: #f8f8f8;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.banner h1 {
    width: 100%;
    font-size: 5.5rem;
    font-weight: 300;
    font-style: italic;
    color: #f8f8f8;
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

/*** Seta ***/
.banner i {
    font-size: 3rem;
    color: #f7f4ea;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: .6;
}
.banner a i:hover{
    background-color: #af94b0;
    border-radius: 3rem;
    opacity: .4;
    transition: .5s;
}

.fotos {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotos img {
    margin-bottom: 5rem;
    width: 70%;
}

/** Rodapé **/
footer {
    width: 100%;

    position: sticky;
    top: 8px;
    padding: .2rem;
    background-color: #af94b0;
}

footer div {
    font-style: italic;
    color: #EDEBED;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: .9rem;
}